<div class="squaresControlsContainer">
	<div class="square">
		<div class="topLeft">
			<span data-ng-click="toggle(0)" data-ng-class="{active: animationService.selectedAnimation.service.rotations[0]}">X</span>
			<span data-ng-click="toggle(1)" data-ng-class="{active: animationService.selectedAnimation.service.rotations[1]}">Y</span>
		</div>
		<div class="topRight">
			<span data-ng-click="toggle(2)" data-ng-class="{active: animationService.selectedAnimation.service.rotations[2]}">X</span>
			<span data-ng-click="toggle(3)" data-ng-class="{active: animationService.selectedAnimation.service.rotations[3]}">Y</span>
		</div>
		<div class="bottomLeft">
			<span data-ng-click="toggle(4)" data-ng-class="{active: animationService.selectedAnimation.service.rotations[4]}">X</span>
			<span data-ng-click="toggle(5)" data-ng-class="{active: animationService.selectedAnimation.service.rotations[5]}">Y</span>
		</div>
		<div class="bottomRight">
			<span data-ng-click="toggle(6)" data-ng-class="{active: animationService.selectedAnimation.service.rotations[6]}">X</span>
			<span data-ng-click="toggle(7)" data-ng-class="{active: animationService.selectedAnimation.service.rotations[7]}">Y</span>
		</div>
	</div>
</div>